.blogPostContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.lengueta {
display: flex;
justify-content: space-between;
}

.blogPost {

}

.thumbNail {

}

.blogContent {

}

.summary {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}