.blogPostContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.lengueta {
display: flex;
justify-content: space-between;
}
.title {
  display: flex;
  height: 140px;
  align-items:  center;
  justify-content: center;
}

.title h3 {
  text-align: center;
}

.blogPost {

}

.thumbNail {

}

.blogContent {

}

.summary {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}