.navbar {
  display: flex;
  /* vertical align */
  align-items: center;
  /* horizontal align */
  justify-content: space-between;
}

.menu a {
  border-bottom: none;
  color:var(--primary-color);
  font-weight: 700;
  margin-left: 2.4rem;
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 768px) {
  
  .mobileMenu {
    display: block;
    font-size: 2rem;
  }

  .menu {
    position: absolute;
    background-color: red;
    width: 100%;
    top: 15%;
    z-index: 99;
    display: none;
  }

  .menu a {
     padding: 32px;
     font-size: 18px;
     display: block;
  }

  .show {
    display: block;
  }
  

  
}