.navbar {
  display: flex;
  /* vertical align */
  align-items: center;
  /* horizontal align */
  justify-content: space-between;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  position: sticky;
  top:0; background-color: white;
  z-index: 99;
}

.menu {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/* .navbarLogoContainer {
  padding: 0;
  border: 0;
  align-content: center;
  justify-self: center;
} */

.navbarLogo {
  width: 50px;
  height: 50px;
}

.menu a {
  border-bottom: none;
  color:var(--primary-color);
  font-weight: 700;
  margin-left: 2.4rem;
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 768px) {

  .navbar {position: sticky;
  top:0; background-color: white;}
  
  .mobileMenu {
    display: block;
    font-size: 2rem;
  }

  .menu {
    
    position: fixed;
    background-color: red;
    width: 80%;
    height: 100vh;
    top: 5%;
    z-index: 99;
    display: none;
    margin: 0
  }

  .menu a {
     padding: 32px;
     font-size: 18px;
     display: block;
  }

  .show {
    display: block;
  }
  

  
}